management:
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include: health, readiness, liveness, info, beans
  endpoint:
    health:
      probes:
        enabled: true
spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver